<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-screen flex items-center justify-center">
<div id="app">
    <section v-show="inProgressAssignments.length">
        <h2 class="font-bold mb-2">En Progreso:</h2>
        <ul>
            <li
                    :key="assignment.id"
                    v-for="assignment in inProgressAssignments"
            >
                <label>
                    <input type="checkbox" v-model="assignment.complete">
                    {{ assignment.name }}
                </label>
            </li>
        </ul>
    </section>
    <section v-show="completedAssignments.length">
        <h2 class="font-bold mb-2 mt-8">Completadas:</h2>
        <ul>
            <li
                    :key="assignment.id"
                    v-for="assignment in completedAssignments"
            >
                <label>
                    <input type="checkbox" v-model="assignment.complete">
                    {{ assignment.name }}
                </label>
            </li>
        </ul>
    </section>
</div>

<script>
    let app = {
        data() {
            return {
                assignments: [
                    {
                        id: 1,
                        name: 'Terminar proyecto',
                        complete: true
                    },
                    {
                        id: 2,
                        name: 'Hacer mates',
                        complete: false
                    },
                    {
                        id: 3,
                        name: 'Hacer lengua',
                        complete: false
                    }

                ]
            }
        },

        computed: {
            completedAssignments() {
                return this.assignments.filter((assignment) => assignment.complete);
            },

            inProgressAssignments() {
                return this.assignments.filter((assignment) => !assignment.complete);
            }
        }
    };

    Vue.createApp(app).mount('#app');
</script>
</body>
</html>